 header {
      text-align: center;
      background-size: cover;
      background: url("http://i.imgur.com/1E2W1jb.jpg");
      margin: auto auto auto auto;
      border: solid 30px white;
      border-radius: 40px 40px 40px 40px;
      }

  body {
      background-color: white;
      color: #404040;
      font-family: courier new;
    }

  #image {
  	position: center; 
  	width: 250px; 
  	height: 250px;
    margin: 40px;
    border-radius: 50%;
  }

 p {
      font-size: 22px;
      text-align: justify;
      color: #404040;
      max-width: 80%;
      margin-left: 10%;
    }
    

 h1 { 
      font-size: 30px;
      color: #404040;
      text-align: center;
    }

   h2 {
        text-align: center;
        font-size: 28px;
        color: #404040;
    }

    h3 {
        text-align: center;
        font-size: 28px;
        color: #404040;
        font-style: italic;
    }

    h4 {
        text-align: center;
        font-size: 25px;
        color: #404040;
    }

    h5 { 
      text-align: center;
      font-size: 22px;
      color: #00FFCC;
      font-weight: 600;
      max-width: 80%;
      margin-left: 10%;

    }
  
    ul {
      padding: 20px;
      background: #00FFCC;
      margin-bottom: 0px;
      }
  
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      font-size: 28px;
      text-align: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    a:hover {
      color: #404040;
    }
   
   #main-section {
display: inline-block;
}


#description {
   text-align: justify;
      background-size: cover;
      background: white;
      margin: auto auto auto auto;
      border: solid 10px white;
      max-width: 60%;
      color: #404040;
}


#technical {
    height: 50%;
    width: 50%;
   display: block;
   text-align: justify;
   border: solid 10px white;
   color: gray;
   margin-left: 25%;
   margin-bottom: 2em;
   color: #404040;
   background-color: #ffffff;
   border-radius: 20px 0px 20px 0px;
}

#cultural {
    height: 50%;
    width: 50%;
    text-align: justify;
    border: solid 10px white;
    display: block;
    margin-left: 25%;
    color: #404040;
   background-color: white;
   border-radius: 20px 0px 20px 0px;
}

#footer {
  text-align: center;
  padding-top: 20px;
}

#picture {
  max-width: 1500px;
  margin-left: -10px;
}
#twitter {
  margin-right: 4.8em;
  width: 60px;
  height: 60px;
}
#linkedin {
  margin-right: 4.8em;
  width: 60px;
  height: 60px;
}
#github {
  margin-right: 4.8em;
}
#instagram {
  margin-right: 4.8em;
  width: 60px;
  height: 60px;
}
#google {
  margin-right: 4.8em;
  width: 60px;
  height: 60px;
}


